# Get Webpage information such as table

In [1]:
import pandas as pd
import html5lib

In [2]:
table = pd.read_html('https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States')

In [3]:
table[0]

,0,1,2,3,4,5,6,7,8,9
0,State & postal abbreviation,Cities,Statehood[A],Population,Area in mi2 (km2)[B][16],Rep(s),NaN,NaN,NaN,NaN
1,Capital,Largest[C][17],(2016 est)[18],Total,Land,Water,NaN,NaN,NaN,NaN
2,Alabama,AL,Montgomery,Birmingham,"Dec. 14, 1819",4863300,"7011135767176743813♠52,420 (135,767)","7011131169947847966♠50,645 (131,170)","7009459722889584640♠1,775 (4,597)",7.0
3,Alaska,AK,Juneau,Anchorage,"Jan. 3, 1959",741894,"7012172333664880780♠665,384 (1,723,337)","7012147795340527024♠570,641 (1,477,950)","7011245383243537563♠94,743 (245,383)",1.0
4,Arizona,AZ,Phoenix,"Feb. 14, 1912",6931071,"7011295232744697200♠113,990 (295,233)","7011294207109405507♠113,594 (294,207)","7009102563529169305♠396 (1,026)",9,NaN
5,Arkansas,AR,Little Rock,"Jun. 15, 1836",2988248,"7011137732977719558♠53,179 (137,733)","7011134770031321333♠52,035 (134,770)","7009296035641011404♠1,143 (2,960)",4,NaN
6,California,CA,Sacramento,Los Angeles,"Sep. 9, 1850",39250017,"7011423968103721451♠163,695 (423,968)","7011403465757840031♠155,779 (403,466)","7010205023458814197♠7,916 (20,502)",53.0
7,Colorado,CO,Denver,"Aug. 1, 1876",5540545,"7011269602222357315♠104,094 (269,602)","7011268431547731443♠103,642 (268,432)","7009117067462587187♠452 (1,171)",7,NaN
8,Connecticut,CT,Hartford,Bridgeport,"Jan. 9, 1788",3576452,"7010143563040955924♠5,543 (14,356)","7010125407224302469♠4,842 (12,541)","7009181558166534553♠701 (1,816)",5.0
9,Delaware,DE,Dover,Wilmington,"Dec. 7, 1787",952065,"7009644648040662630♠2,489 (6,446)","7009504788682704486♠1,949 (5,048)","7009139859357958144♠540 (1,399)",1.0
10,Florida,FL,Tallahassee,Jacksonville,"Mar. 3, 1845",20612439,"7011170312438159474♠65,758 (170,312)","7011138888112416768♠53,625 (138,888)","7010314243257427066♠12,133 (31,424)",27.0
11,Georgia,GA,Atlanta,"Jan. 2, 1788",10310371,"7011153910043456716♠59,425 (153,910)","7011148957986189754♠57,513 (148,958)","7009495205726696243♠1,912 (4,950)",14,NaN
12,Hawaii,HI,Honolulu,"Aug. 21, 1959",1428557,"7010283137500221931♠10,932 (28,314)","7010166354936326881♠6,423 (16,635)","7010116782563895050♠4,509 (11,678)",2,NaN
13,Idaho,ID,Boise,"Jul. 3, 1890",1683140,"7011216442716392669♠83,569 (216,443)","7011214044387402498♠82,643 (214,044)","7009239832899017113♠926 (2,398)",2,NaN
14,Illinois,IL,Springfield,Chicago,"Dec. 3, 1818",12801539,"7011149996571421999♠57,914 (149,997)","7011143793549897744♠55,519 (143,794)","7009620302152425472♠2,395 (6,203)",18.0
15,Indiana,IN,Indianapolis,"Dec. 11, 1816",6633053,"7010943273669784371♠36,420 (94,327)","7010927889140408975♠35,826 (92,789)","7009153586294942924♠593 (1,536)",9,NaN
16,Iowa,IA,Des Moines,"Dec. 28, 1846",3134693,"7011145746400932937♠56,273 (145,746)","7011144668965879037♠55,857 (144,669)","7009107743505389977♠416 (1,077)",4,NaN
17,Kansas,KS,Topeka,Wichita,"Jan. 29, 1861",2907289,"7011213099041742225♠82,278 (213,099)","7011211754837912961♠81,759 (211,755)","7009134679381737472♠520 (1,347)",4.0
18,Kentucky[D],KY,Frankfort,Louisville,"Jun. 1, 1792",4436974,"7011104656239562457♠40,408 (104,656)","7011102268270524727♠39,486 (102,268)","7009238537904961945♠921 (2,385)",6.0
19,Louisiana,LA,Baton Rouge,New Orleans,"Apr. 30, 1812",4681666,"7011135658397243179♠52,378 (135,658)","7011111897846318956♠43,204 (111,898)","7010237605509242224♠9,174 (23,761)",6.0
20,Maine,ME,Augusta,Portland,"Mar. 15, 1820",1331479,"7010916337793436876♠35,380 (91,634)","7010798830032870932♠30,843 (79,883)","7010117507760565944♠4,537 (11,751)",2.0
21,Maryland,MD,Annapolis,Baltimore,"Apr. 28, 1788",6016447,"7010321313924968284♠12,406 (32,131)","7010251410145870315♠9,707 (25,141)","7009699037790979686♠2,699 (6,990)",8.0
22,Massachusetts[E],MA,Boston,"Feb. 6, 1788",6811779,"7010273347345164861♠10,554 (27,335)","7010202019072606208♠7,800 (20,202)","7009713282725586534♠2,754 (7,133)",9,NaN
23,Michigan,MI,Lansing,Detroit,"Jan. 26, 1837",9928300,"7011250488110103035♠96,714 (250,488)","7011146435337770287♠56,539 (146,435)","7011104052772332748♠40,175 (104,053)",14.0
24,Minnesota,MN,St. Paul,Minneapolis,"May 11, 1858",5519952,"7011225163206360170♠86,936 (225,163)","7011206232983261724♠79,627 (206,233)","7010189302230984458♠7,309 (18,930)",8.0
25,Mississippi,MS,Jackson,"Dec. 10, 1817",2988726,"7011125438304159793♠48,432 (125,438)","7011121530012101296♠46,923 (121,530)","7009390829205849702♠1,509 (3,908)",4,NaN
26,Missouri,MO,Jefferson City,Kansas City,"Aug. 10, 1821",6093000,"7011180540301207191♠69,707 (180,540)","7011178040962680717♠68,742 (178,041)","7009249933852647424♠965 (2,499)",8.0
27,Montana,MT,Helena,Billings,"Nov. 8, 1889",1042520,"7011380831851743805♠147,040 (380,832)","7011376962409506963♠145,546 (376,962)","7009386944223684198♠1,494 (3,869)",1.0
28,Nebraska,NE,Lincoln,Omaha,"Mar. 1, 1867",1907116,"7011200330400358268♠77,348 (200,330)","7011198973246588452♠76,824 (198,973)","7009135715376981606♠524 (1,357)",3.0
29,Nevada,NV,Carson City,Las Vegas,"Oct. 31, 1864",2940058,"7011286380165336072♠110,572 (286,380)","7011284331484740796♠109,781 (284,331)","7009204868059527577♠791 (2,049)",4.0
30,New Hampshire,NH,Concord,Manchester,"Jun. 21, 1788",1334795,"7010242137988435312♠9,349 (24,214)","7010231881635518382♠8,953 (23,188)","7009102822527980339♠397 (1,028)",2.0
31,New Jersey,NJ,Trenton,Newark,"Dec. 18, 1787",8944469,"7010225924662864609♠8,723 (22,592)","7010190467725634109♠7,354 (19,047)","7009354310373493964♠1,368 (3,543)",12.0
32,New Mexico,NM,Santa Fe,Albuquerque,"Jan. 6, 1912",2081015,"7011314916654335754♠121,590 (314,917)","7011314160377807536♠121,298 (314,160)",7008756276528218112♠292 (756),3.0
33,New York,NY,Albany,New York City,"Jul. 26, 1788",19745289,"7011141296801359380♠54,555 (141,297)","7011122055779687694♠47,126 (122,056)","7010192410216716861♠7,429 (19,241)",27.0
34,North Carolina,NC,Raleigh,Charlotte,"Nov. 21, 1789",10146788,"7011139390570110173♠53,819 (139,391)","7011125920041948315♠48,618 (125,920)","7010134705281618575♠5,201 (13,471)",13.0
35,North Dakota,ND,Bismarck,Fargo,"Nov. 2, 1889",757952,"7011183106979424534♠70,698 (183,107)","7011178711769601294♠69,001 (178,712)","7009439779981135052♠1,698 (4,398)",1.0
36,Ohio,OH,Columbus,"Mar. 1, 1803",11614373,"7011116098807033921♠44,826 (116,099)","7011105829504176439♠40,861 (105,830)","7010102693028574822♠3,965 (10,269)",16,NaN
37,Oklahoma,OK,Oklahoma City,"Nov. 16, 1907",3923561,"7011181037578924376♠69,899 (181,038)","7011177660234428497♠68,595 (177,660)","7009337734449587814♠1,304 (3,377)",5,NaN
38,Oregon,OR,Salem,Portland,"Feb. 14, 1859",4093465,"7011254800440306745♠98,379 (254,800)","7011248607778734931♠95,988 (248,608)","7009619266157181337♠2,391 (6,193)",5.0
39,Pennsylvania[F],PA,Harrisburg,Philadelphia,"Dec. 12, 1787",12784227,"7011119279312433414♠46,054 (119,279)","7011115883838020763♠44,743 (115,884)","7009339806440076083♠1,312 (3,398)",18.0
40,Rhode Island[G],RI,Providence,"May 29, 1790",1056426,"7009400153163046912♠1,545 (4,002)","7009267804770608742♠1,034 (2,678)","7009132348392438169♠511 (1,320)",2,NaN
41,South Carolina,SC,Columbia,"May 23, 1788",4961119,"7010829314192929587♠32,020 (82,931)","7010778576325848105♠30,061 (77,858)","7009507637669625856♠1,960 (5,076)",7,NaN
42,South Dakota,SD,Pierre,Sioux Falls,"Nov. 2, 1889",865454,"7011199729523116671♠77,116 (199,730)","7011196349588632682♠75,811 (196,350)","7009337993448398848♠1,305 (3,380)",1.0
43,Tennessee,TN,Nashville,Memphis,"Jun. 1, 1796",6651194,"7011109152458922000♠42,144 (109,152)","7011106798159729704♠41,235 (106,798)","7009235429919229542♠909 (2,354)",9.0
44,Texas,TX,Austin,Houston,"Dec. 29, 1845",27862596,"7011695660446483808♠268,596 (695,660)","7011676587774039294♠261,232 (676,588)","7010190752624326246♠7,365 (19,075)",36.0
45,Utah,UT,Salt Lake City,"Jan. 4, 1896",3051217,"7011219882220603195♠84,897 (219,882)","7011212819323026309♠82,170 (212,819)","7009706289757688627♠2,727 (7,063)",4,NaN
46,Vermont,VT,Montpelier,Burlington,"Mar. 4, 1791",624594,"7010249053256689909♠9,616 (24,905)","7010238719204129669♠9,217 (23,872)","7009103599524413440♠400 (1,036)",1.0
47,Virginia[H],VA,Richmond,Virginia Beach,"Jun. 25, 1788",8411808,"7011110786741419622♠42,775 (110,787)","7011102278630477168♠39,490 (102,279)","7009850811094245376♠3,285 (8,508)",11.0
48,Washington,WA,Olympia,Seattle,"Nov. 11, 1889",7288000,"7011184660972290736♠71,298 (184,661)","7011172120249860489♠66,456 (172,120)","7010125407224302469♠4,842 (12,541)",10.0
49,West Virginia,WV,Charleston,"Jun. 20, 1863",1831102,"7010627554119134412♠24,230 (62,755)","7010622581341962567♠24,038 (62,258)",7008497277717184512♠192 (497),3,NaN
50,Wisconsin,WI,Madison,Milwaukee,"May 29, 1848",5778708,"7011169633861274566♠65,496 (169,634)","7011140268576079577♠54,158 (140,269)","7010293678751830999♠11,339 (29,368)",8.0
51,Wyoming,WY,Cheyenne,"Jul. 10, 1890",585501,"7011253334507036295♠97,813 (253,335)","7011251469715596853♠97,093 (251,470)","7009186479143944192♠720 (1,865)",1,NaN